.card__name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-height: 85px;
    border-radius: 0 0 10px 10px;
    background-color: #ffffff;
    position: relative;
}