.header__logo {
    max-width: 142px;
    height: 33px;
    background-image: url(../../../images/logo.svg);
    background-size: contain;
    background-repeat: no-repeat;
    padding: 0 0 41px;
    cursor: pointer;
}

.header__logo:hover {
    opacity: .6;
}

@media screen and (max-width: 720px ) {
    .header__logo {
        padding: 0 0 31px;
        max-width: 104px;
        height: 25px;
    }
}
