.profile__profession {
    margin: 0;
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
    padding:16px 0 0 25px;
}


@media screen and (max-width: 800px ) {
    .profile__profession {
        padding: 14px 19px 0;
        align-self: center;
        font-size: 14px;
        line-height: 17px;
    }
}