.popup__container {  
    position: relative;
    width: 500px;
    height: 400px;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media screen and (max-width:740px) {
    .popup__container {  
        width: 282px;
        height: 382px;
        }
}