.profile {
    color: #ffffff;
    max-width: 880px;
    font-family: 'Inter', 'Arial', sans-serif;
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 800px ) {
    .profile {
        flex-direction: column;
        max-width: 500px;
        justify-content: center;
        gap: 36px;
    }
}
