.card__like-button {
    width: 22px;
    height: 19px;
    display: block;
    background-color: #ffffff;
    box-shadow: none;
    border: 0;
    margin: 0;
    padding: 0 0 3px 0;
    cursor: pointer;
    background-color: transparent;
    background-image: url(../../../images/heart.png);
    background-size: contain;
    background-repeat: no-repeat;
}
.card__like-button:hover {
    opacity: .5;
}