.popup__close {
    margin: 0;
    padding: 0;
    background-color: transparent;
    background-image: url(../../../images/close.png);
    background-repeat: no-repeat;
    background-size: contain;
    border: none;
    width: 32px;
    height: 32px;
    position: absolute;
    top: -40px;
    right: -40px; 
    cursor: pointer;
}

@media screen and (max-width:740px) {
    .popup__close{
        width: 20px;
        height: 20px;
        top: -32px;
        right: 0px; 
    }
}

.popup__close_type_zoom {
    margin: 0;
    padding: 0;
    background-color: transparent;
    background-image: url(../../../images/close.png);
    background-repeat: no-repeat;
    background-size: contain;
    border: none;
    width: 32px;
    height: 32px;
    position: absolute;
    top: -40px;
    right: -40px; 
    cursor: pointer;
}

@media screen and (max-width:740px) {
    .popup__close_type_zoom{
        width: 20px;
        height: 20px;
        top: -32px;
        right: 0px; 
    }
}