.popap__save {
    display: block;
    align-self: center;
    border-radius: 2px;
    width: 358px;
    height: 50px;
    color: #ffffff;
    background-color: #000000;
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
    cursor: pointer;
}

.popap__save:hover {
    opacity: .8;
}

@media screen and (max-width:740px) {
    .popap__save {
        width: 238px;
        height: 46px;
        font-size: 14px;
        line-height: 17px;
    }
}