.profile__button-edit {
    margin: 0;
    width: 24px;
    height: 24px;
    line-height: 48px;
    border: 1px solid #fff;
    padding: 0 0 0 18px;
    align-self: center;
    background-color: #000;
    background-image: url(../../../images/edit_button.png);
    background-repeat: no-repeat;
    background-size: 10px;
    background-position: center;
    cursor: pointer;
    padding: 0;
}