.popap__body {
    font-family: 'Inter', 'Arial', sans-serif;
    margin: 0 auto;
    width: 430px;
    height: 330px;
    padding: 34px 36px 37px;
    border-radius: 10px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    position: absolute;
    flex-direction: column;
    justify-content: space-between;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
}

@media screen and (max-width:740px) {
    .popap__body {
        padding: 25px 22px;
        width: 282px;
        height: 322px;
        border-radius: 10px;
        background-color: #ffffff;
    }
}