.popap__title {
    font-family: 'Inter', 'Arial', sans-serif;
    font-size: 24px;
    line-height: 29px;
    font-weight: 900;
    margin: 0;
    display: block;
}

@media screen and (max-width:740px) {
    .popap__title {
        font-size: 18px;
        line-height: 22px;
    }
}