.popup__profession {
    margin: 0;
    font-family: 'Inter', 'Arial', sans-serif;
    border:none;
    border-bottom:1px solid rgba(0, 0, 0, .2);
    width: 358px;
    font-size: 14px;
    line-height: 17px;
    font-weight: 400;
    margin: 0;
    display: block;
    padding-bottom: 13px;
}
@media screen and (max-width:740px) {
    .popup__profession {
        width: 238px;
    }
}