.popup__container {  
    position: relative;
    width: 430px;
    height: 330px;
}

@media screen and (max-width:740px) {
    .popup__container {  
        width: 282px;
        height: 322px;
        }
}