.profile__add-button{
    margin: 0;
    width: 150px;
    height: 50px;
    border: 2px solid #fff;
    align-self: center;
    display: block;
    border-radius: 0;
    background-color: transparent;
    background-image: url(../../../images/add_button.svg);
    background-repeat: no-repeat;
    background-size: 22px;
    background-position: center;
    cursor: pointer;
    padding: 0;
}

@media screen and (max-width: 720px ) {
    .profile__add-button {
        width: 282px;
        height: 50px;
        box-sizing: border-box;
        }
}
