.header {
    display: flex;
    margin: 0;
    flex-direction: column;
    justify-content: flex-start;
    max-width: 880px;
    max-height: 74px;
    border-bottom: #545454 1px solid;
}

@media screen and (max-width: 720px ) {
    .header {
        padding-left: 27px;
        box-sizing: border-box;
    }
}
